<meta charset="utf-8">
<title><%=title%></title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/custom.css">
<link rel="stylesheet" href="/css/jquery-ui.css">
